USE [master]
GO
/****** Object:  Database [DBParcial2]    Script Date: 12/07/2024 20:43:08 ******/
CREATE DATABASE [DBParcial2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBParcial2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBParcial2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBParcial2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBParcial2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBParcial2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBParcial2]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/07/2024 20:43:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [text] NOT NULL,
	[Severity] [int] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([ID], [Message], [Severity]) VALUES (14, N'Este es un nuevo error', NULL)
INSERT [dbo].[Log] ([ID], [Message], [Severity]) VALUES (15, N'Este es un nuevo error', NULL)
INSERT [dbo].[Log] ([ID], [Message], [Severity]) VALUES (16, N'Este es un nuevo error', NULL)
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
USE [master]
GO
