<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

    </startup>
  <appSettings>
    <add key="PathLog" value="Logger.log"/>
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=030LAB1-27-7272;Initial Catalog=DBParcial2;Integrated Security=True;Encrypt=False"/>

  </connectionStrings>
</configuration>